<h1>Features</h1>
<table class="table table-hover" ng-cloak>
    <thead>
        <tr>
            <th>project</th>
            <th>id</th>
            <th>type</th>
            <th>owner</th>
            <th>title</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="feature in features">
            <td><i class="icon-{{feature.provider}}"></i> {{feature.project}}</td>
            <td><a href="{{feature.url}}">#{{feature.id}}</a></td>
            <td><span class="label label-info">{{feature.type}}</span></td>
            <td>{{feature.owner}}</td>
            <td>{{feature.title}}</td>
        </tr>
    </tbody>
</table>
