<div class="feature" ng-show="feature">

    <header>
        <h2>
            <a href="{{feature.url}}" target="_blank"><i class="icon-{{feature.provider}}"></i>
                #{{feature.id}}
            </a>
            {{feature.title}}
        </h2>

        <p>
            {{feature.project}}
            <span class="label label-info">{{feature.type}}</span>
            <i class="icon icon-user"></i> {{feature.owner}}
        </p>
    </header>

    <script type="text/ng-template" id="branch.html">
        <!-- recursive template for a branch -->
        <div>
            <i class="icon icon-caret-right"></i>
            <div class="dropdown">
                <i data-toggle="dropdown" class="icon icon-large icon-sign-blank health-{{branch.health.status}}"></i>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="detail in branch.health.details">
                        <i class="icon icon-large icon-sign-blank health-{{detail.status}}"> </i>
                        {{detail.type}} [{{detail.provider}}]
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <i data-toggle="dropdown" class="tool icon icon-wrench"></i>
                <ul class="dropdown-menu" role="menu">
                    <li><i class="icon icon-arrow-up"></i> Send PR to parent branch</li>
                    <li><i class="icon icon-arrow-down"></i> Update from parent branch</li>
                    <li><i class="icon icon-cogs"></i> Start build</li>
                    <li><i class="icon icon-play"></i> Deploy</li>
                </ul>
            </div>
            {{branch.branch_name}}
            <span class='label'>{{branch.latest_commit}}</span>
        </div>
        <ul>
            <li ng-repeat="branch in branch.children" ng-include="'branch.html'"> </li>
        </ul>
    </script>

    <div id="branch-tools" style="display: none">
    </div>

    <section class="repo" ng-repeat="repo in feature.repositories">
        <h4>{{repo.name}}</h4>
        <ul class="branches">
            <li ng-repeat="branch in repo.branches" ng-include="'branch.html'"></li>
        </ul>
    </section>

</div>
<p class="loading" ng-hide="feature">
    <i class="icon-loading"/> Loading...
</p>
