<div class="feature" ng-show="feature">

    <header>
        <h2>
            <a href="{{feature.url}}" target="_blank"><i class="icon-{{feature.provider}}"></i>
                #{{feature.id}}
            </a>
            {{feature.title}}
        </h2>

        <p>
            {{feature.project}}
            <span class="label label-info">{{feature.type}}</span>
            <i class="icon icon-user"></i> {{feature.owner}}
        </p>
    </header>

    <script type="text/ng-template" id="branch.html">
        <!-- recursive template for a branch -->
        <p>
            <i class="icon icon-caret-right"></i>
            <i class="icon icon-large icon-sign-blank health-{{branch.health.status}}"></i>
            <i class="icon icon-wrench"></i>
            {{branch.branch_name}}
            <span class='label'>{{branch.latest_commit}}</span>
        </p>
        <ul>
            <li ng-repeat="branch in branch.children" ng-include="'branch.html'"> </li>
        </ul>
    </script>

    <section class="repo" ng-repeat="repo in feature.repositories">
        <h4>{{repo.name}}</h4>
        <ul class="branches">
            <li ng-repeat="branch in repo.branches" ng-include="'branch.html'"></li>
        </ul>
    </section>

</div>
<p class="loading" ng-hide="feature">
    <i class="icon-loading"/> Loading...
</p>
