<div id="marketing">
<section class="marketing-hero row-fluid">
    <article>
    <h1>Welcome to Ployst!</h1>
    <p class="lead">...watch your user stories unfold!</p>
    <blockquote><p>
    <strong>Ployst</strong>
    will help you take your stories from inception to deployment, showing you
    relevant information along their lifecycle, by combining data collected
    from various tools.
    </p></blockquote>
    <p>
        <a class="btn btn-large btn-primary" href="/login?next=%2F%23%2Ffeatures">
            <i class="icon-github icon-large"></i> Sign in via Github
        </a>
    </p>
    </article>
</section>
<section class='marketing-detail row-fluid'>
    <article class="span4">
    <h3><i class="icon-tasks"></i> Planning Tools</h3>
    <p>
    Collect story information from:
    <ul>
        <li>Github</li>
        <li>Jira</li>
        <li>Sprint.ly</li>
        <li>Rally</li>
        <li>Pivotal Tracker</li>
        <li>etc...</li>
    </ul>
    </p>
    </article>
    <article class="span4">
    <h3><i class="icon-edit"></i> Version Control</h3>
    <p>
    Get branches relevant to your stories from your repositories:
    <ul>
        <li>Git</li>
        <li>Mercurial</li>
        <li>etc...</li>
    </ul>
    </p>
    </article>
    <article class="span4">
    <h3><i class="icon-cogs"></i> Build and CI Tools</h3>
    <p>
    See whether your build is green in:
    <ul>
        <li>Jenkins</li>
        <li>Travis CI</li>
        <li>etc...</li>
    </ul>
    </p>
    </article>
</section>
</div>
