<div class="marketing">
<section class="hero-unit">
    <h1>Welcome to DeployStream!</h1>
    <h2 class="muted">...watch your user stories unfold!</h2>
    <p class="lead">
    <strong>DeployStream</strong>
    will help you take your stories from inception to deployment by showing you
    relevant information along their lifecycle, by combining data collected 
    from various tools.
    </p>
    <p>
    <a class="btn btn-large btn-primary"><i class="icon-github"></i> Sign in via Github</a>
    </p>
</section>
<section class='row-fluid'>
    <article class="span4">    
    <h3>Planning tools</h3>
    <p>
    Collect story information from:
    <ul>
        <li>Github</li>
        <li>Jira</li>
        <li>Sprint.ly</li>
        <li>Rally</li>
        <li>Pivota Tracker </li>
        <li>and their ilk...</li>
    </ul>
    </p>
    </article>
    <article class="span4">    
    <h3>Version Control Systems</h3>
    <p>
    Get branches relevant to your stories from your repositories:
    <ul>
        <li>Git</li>
        <li>Mercurial</li>
        <li>etc...</li>
    </ul>
    </p>
    </article>
    <article class="span4">    
    <h3>Continuous integration</h3>
    <p>
    See whether your build is green for your branch in:
    <ul>
        <li>Jenkins</li>
        <li>Travis CI</li>
        <li>etc...</li>
    </ul>
    </p>
    </article>
</section>
</section>
</div>
