*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
/bin
var
sdist
develop-eggs
.installed.cfg
/lib
/lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# editors and IDEs...
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*~
*.sw[op]
tags

*.orig

logs
/reports

local_settings.py
tests/test_providers/data/
github_auth.py

# Dependency management tools (pip, npm, bower):
/components
