/* app css stylesheet */

@media (min-width: 980px) {
    #content { padding-top: 60px; /* make space for fixed top navbar */ }
}

/* sticky footer ----------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 120px;  /* make sure you modify negative margin in #wrap accordingly */
}
#footer {
    background-color: #222;
    color: white;
    padding-top: 30px;
    border-top: 4px solid #666;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#brand {
    font-family: 'YanoneKaffeesatzBold';
    color: #984C3F;
    font-size: 24px;
    text-transform: lowercase;
    padding: 8px 15px 12px;
}

.marketing {
    max-width: 960px;
    margin: 0 auto;
}

.hero-unit {
    padding: 32px;
}

/* end sticky footer */
.icon-sprintly {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/sprintly.ico");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 1px;
}
