.repo {
    h4 {
        font-size: 140%;
        color: @secondaryTitle;
    }
    ul {
        margin-top: 10px;
        list-style: none;
    }
}

.health-green {
    color: @statusGreen;
}

.health-yellow {
    color: @statusYellow;
}

.health-red {
    color: @statusRed;
}

.health-unknown {
    color: @statusUnknown;
}
