.feature {
    header {
        border-bottom: 1px solid @grayLight;
        margin-bottom: 20px;
       .box-shadow(0 10px 8px -8px @grayLight);
        p {
            float: right;
            font-size: 80%;
            font-weight: normal;
            font-style: italic;
            font-family: @baseFontFamily;
            margin-top: 8px;
            .opacity(70);
        }
    }
}
.repo {
    margin-top: 8px;
    h4 {
        min-width: 150px;
        float: left;
        font-size: 140%;
        color: @secondaryTitle;
        text-align: right;
        clear: left;
    }
    .branches {
        float: left;
        border-left: 6px solid @secondaryTitle;
        padding-left: 8px;
        margin-left: 8px;
        i.menu {
            cursor: pointer;
        }
        .popover-content {
            padding: 0;
        }
        .dropdown {
            display: inline;
        }
        .dropdown-menu {
            left: -18px;
            width: 220px;
            font-size: 90%;
            padding: 8px 0;
            li {
                padding: 0 16px;
                &:hover {
                    background-color: @grayLighter;
                    cursor: pointer;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: -7px;
                left: 15px;
                display: inline-block;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-bottom-color: rgba(0, 0, 0, 0.2);
            }
            &:after {
                content: '';
                position: absolute;
                top: -6px;
                left: 16px;
                display: inline-block;
                border-right: 6px solid transparent;
                border-bottom: 6px solid white;
                border-left: 6px solid transparent;
            }
        }
    }
    ul {
        margin-top: 10px;
        list-style: none;
    }
    .tool:hover {
        color: @linkColor;
    }
}

.health-green {
    color: @statusGreen;
}

.health-yellow {
    color: @statusYellow;
}

.health-red {
    color: @statusRed;
}

.health-unknown {
    color: @statusUnknown;
}

