{% extends "base.html" %}
{% block content %}

 <section class="marketing-hero row-fluid">
    <article>
    <!-- Avatar -->
    <h1>{{ user.username }}</h1>
    <ul>
        <li> Joined on {{ user.created | humanize_time }}</li>
    </ul>

    <h3>Linked Accounts</h3>
    <ul>

    {% for oauth_service, oauth_username  in user | all_oauths %}
        <li><i class="icon-{{oauth_service}} icon-large"></i>
            {% if oauth_username %}
                {{ oauth_username }}
            {% else %}
                <a href="/github-register?next=/users/me"> Add </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </article>
</section>
{% endblock %}
