{% extends "base.html" %}
{% block content %}
  <ul class="nav nav-tabs">
    <li>
      <a href="{{ url_for('users.login') }}">Login</a>
    </li>
    <li class="active">
      <a href="#">Register</a>
    </li>
  </ul>
  {% from "forms/macros.html" import render_field %}
  <form method="POST" action="." class="form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.username, class="input text") }}
    {{ render_field(form.email, class="input text") }}
    {{ render_field(form.password, class="input text") }}
    {{ render_field(form.confirm, class="input text") }}
    {{ render_field(form.accept_tos, class="input checkbox") }}
    <div class=controls>
        <input type="submit" value="Register" class="btn btn-primary">
    </div>
  </form>
{% endblock %}
