<!doctype html>
<html lang="en" ng-app="deploystream">
    
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>DeployStream {% block extratitle %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/app.css">
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
            .ng-cloak, .x-ng-cloak {
                display: none;
            }
        </style>
        {% block extrahead %}
        {% endblock %}
    {% endblock %}
    </head>
    
    <body ng-cloak>
        <header>
        {% block header %}{% endblock %}
        </header>
        <section id="content" ng-view>
        {% block content %}{% endblock %}
        </section>
        <footer>
        {% block footer %}
            Produced by <a href="http://github.com/pretenders/">Pretenders</a>. 
        {% endblock %}
        </footer>

        {% block scripts %}{% endblock %}
    </body>

</html>
