<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav"><li>
                <a id="brand" class="brand" href="#">[Deploystream]</a>
            </li></ul>
            <div class="nav-collapse collapse">
                {% if session.username %}
                <ul class="nav">
                    <li><a href="#/features">My Features</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{session.username}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout"><i class="icon-signout"></i> Logout</a></li>
                            <li><a href="#/settings"><i class="icon-wrench"></i> Settings</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>
